
<div class="modal fade" id="static" tabindex="-1" role="dialog" aria-labelledby="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log de l'envoi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="loglist">
                    <div class="alert alert-warning">
                        <strong>Traitement en cours ! ...</strong>
                    </div>
                </div>
                <div class="loglistdyn">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green expedition-csv-close"  data-dismiss="modal" disabled>Close</button>
            </div>
        </div>
    </div>
</div>